<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h2>All Users</h2>
<br>

<table border="1">
    <tr style="color: darkred">
        <th>Name</th>
        <th>LastName</th>
        <th>Email</th>
        <th colspan="2">Functional</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{/editUser(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/deleteUser(id=${user.id})}">Delete</a></td>
    </tr>
</table>

<br>

<input type="button" value="Add User" onclick="window.location.href ='addNewUser'"/>
</body>
</html>